/*===== Search Section =====*/

#search-controls-section{
    border-radius: 10px;
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: background-color 0.4s ease, box-shadow 0.4s ease; */
}

#search-controls-section:focus-within{
    background-color: #ffffffd3;
    /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.279); */
}

#search-controls-section .search-controls{
    justify-content: center;
}

#search-controls-section .search-controls button{
    border: none;
    background-color: transparent;
}

#search-controls-section .search-controls .search-bar{
    background-color: transparent;
    box-sizing: content-box;
    width: 100%;
    outline: none;
    padding: 5px;
    border: none;
}

#search-controls-section .search-controls .search-bar:focus{
    outline: none;
}

.search-filter ul{
    list-style-type: none;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 0px;
}

.search-filter .category{
    border: 0.5px solid rgb(36, 36, 36);
    padding: 2px 15px;
    width: fit-content;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    cursor: pointer;
    text-wrap: nowrap;
}

.search-filter .category:hover{
    color: var(--profile-primary);
    border-color: var(--profile-primary);
}

.search-filter .category .radio{
    display: none;
}

.search-filter .category label{
    cursor: pointer;
}

.search-filter .category:has(.radio:checked){
    color: #ffffff;
    background-color: var(--profile-primary);
    border-color: var(--profile-primary);
}

.search-filter .control{
    display: flex;
    align-items: center;
}

.search-filter input{
    border: 0.5px solid rgb(124, 124, 124);
    outline: none;
    border-radius: 8px;
    padding: 2px 10px;
}

/* .search-filter .date-controls .control input{
    border: 0.5px solid rgb(124, 124, 124);
    outline: none;
    border-radius: 8px;
    padding: 2px 10px;
} */

/*===== Search Section End =====*/