.section-blur{
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

a {
  text-decoration: none;
}

/* ==== Main Container Start ==== */
#main{
  display: flex;
  flex-direction: row-reverse;
  background-color: var(--background-color);
}

@media (max-width:576px){
  #main{
      display: block;
      position: relative;
      height: 100vh;
      overflow-y: auto;
  }
}