@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --font-secondary: "Poppins", sans-serif;
    --font-normal: 14px;
}

:root{
    --color-primary: #0b7bbe;
    --profile-head:#f2c0b9;
    --profile-head-secondary:#3a5fb594;
    --profile-primary: #0b7bbe;
    --backdrop-blur: 5px;
    /* --background-color: #fcfbfe; */
    --background-color:#f6f6f6;
    --profile-secondary: #14967f;
}

*{
  font-family: var(--font-secondary);
  font-size: var(--font-normal);
}